@import "variables";
@import "typography";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";

.navbar-brand {
    font-family: $lato;
    font-size: 1rem !important;
    @media (min-width: 768px) {
        font-size: 1.25rem !important;
    }
}

.nav-item {

    //active nav item
    &.active {
        .nav-link {
            &::before {
                width: 78%;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }

            .dropdown-toggle::before {
                width: 88%;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }

            @include media-breakpoint-down(md) {
                display: inline-block;
            }
        }

    }

    //just a nav item
    .nav-link {
        color: $brand-blue;
        font-family: $lato;
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $brand-blue;
            left: 50%;
            transform: translateX(-50%);
            bottom: .2em;
            transition: width .2s ease-in-out;
        }

        &:hover::before {
            width: 78%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        &.dropdown-toggle:hover::before {
            width: 88%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}


.account-menu {
    .ac-item {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;
    }
}
