@import "~bootstrap/scss/functions";
@import "variables";
@import "card";
@import "form";
@import "footer";
@import '~bootstrap';

//I hate non sticky footers

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
}

//Minheigt
.mh-75 {
    min-height: 75vh;
}
